<div class="image-capture">
    <div class="embed-responsive embed-responsive-4by3">
        <video src="" muted="true"></video>
    </div>
    <button class="btn btn-primary" style="width: 100%" {{action "takePicture"}}>Take picture</button>
</div>