@import "ember-bootstrap/bootstrap";
@import "image-capture";

.progress-indicator {
    margin-top: 20px;
}

.celebscan-results {
    h2 small {
        display: block;
    }
}

.result-image {
    height: 416px;
}

.result-description {
    margin-top: 20px;
}