@import "ember-bootstrap/bootstrap";
@import "image-capture";
@import "ribbon";

html, body {
    overflow-x:hidden;
    max-width: 100%;
}

body {
    padding-top: 30px;
}

.result-image {
    height: 416px;
}
