<div class="error not-found">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>404<small>The requested page does not exist</small></h1>

      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <p>Sorry, we couldn't find what you were looking for. Please give the <a href="/">The homepage</a> a shot if you will.
      Or <a href="https://github.com/infosupport/celebscan/issues/new">file an issue</a> if you think something's wrong.</p>
    </div>
  </div>
</div>