

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Which celebrity do you look like?</h1>
            <p>Scan your image now and find out.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{image-capture action="processImage"}}
        </div>
    </div>
</div>