<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img src="/images/fail.jpg" alt="" class="img-responsive">
            <h2>Woops</h2>
            <p>We failed... Sorry about that, notice the beta label? Yep, that's why.</p>
            <p>If you feel like fixing or reporting the error. Please file an issue with us on <a href="https://github.com/infosupport/celebscan/issues">Github.</a></p>
        </div>
    </div>
</div>