<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Loading the results</h1>
            <img src="/images/curtain.jpg" alt="Who's behind the curtain?" class="img-responsive">
            <p>Hold on to your hats, we're looking up some celebrities here...</p>
        </div>
    </div>
</div>