<div class="ribbon-wrapper-green">
    <div class="ribbon-green">BETA</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <a href="/"><img src="/images/logo.png" alt="Celebscan" class="logo"></a>
    </div>
  </div>
</div>

{{outlet}}

<div class="container site-footer">
  <div class="row">
    <div class="col-md-4">
      <h2>About this app</h2>
      <p>Want to learn more about this app and who made it?</p>
      <ul class="list-unstyled">
        <li><a href="https://fizzylogic.nl/2017/08/04/which-celebrity-are-you-a-celebrity-scanner-built-with-clarifai/">Read the blogpost</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Source code</h2>
      <p>Learn more about this app by browsing through the code.</p>
      <ul class="list-unstyled">
        <li><a href="https://github.com/infosupport/celebscan">Get the code</a></li>
        <li><a href="https://github.com/infosupport/celebscan/issues/new">Submit an issue</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>The sponsors</h2>
      <p>This app is sponsored by</p>
      <div class="row">
        <div class="col-xs-7">
          <a href="http://www.infosupport.com">
            <img src="/images/infosupport.png" alt="Info Support" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>